html,body{
    margin: 0px;
    padding: 0px;
    color:#777;
    font-family: sans-serif;
   font-size: 1rem;
}
/* ?? */
*{
    box-sizing: border-box;
}
.ib{
    display: inline-block;
}

/* Menu */
.menu{
    height: 22px;
    border: 1px solid red;
}
.menu-options{
    height: 61px;
    border: 1px solid green;
}

/* New changes */
.menu-items{
    width: 45px;
    font-size: 90%;
    text-align: center;
}
.menu-options-item{
    display: none;
    height: 100%;
    margin-left:19px;
}
.menu-group{
    width: 208px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    border-right: 1px solid lightgray;
    border-radius: 1px;
}
.menu-options-item.selected{
    display: flex;
}
#File-options>div{
    width:50px;
    text-align: center;
}


/* Formula */
.formula-bar{
    height: 26px;
    border: 1px solid yellow;
}
/* Cell Conatiner area */
.cell-container{
    height: calc(100vh - 129px);  
    overflow: auto;
    position: relative;
}
.top-left-cell{
    height: 25px;
    width:25px;
    background-color: gray;
    position: absolute;
    top:0px;
    left:0px;
    z-index:3;
}
.top-row{
    display: flex;
    position: absolute;
    left: 26px;
    height: 25px;
    top:0px;
    background-color: lightgrey;
    text-align: center; 
    z-index:2;
}
.top-row>.cell{
    min-width: 87px;
    border:1px solid ;
}
.left-col{
    position: absolute;
    top: 25px;
    left:0px;
    z-index:2;
}
.left-col>.cell{
    width:25px;
    height: 25px;
background-color: lightgrey ;
border: 1px solid;
}
.row{
    display: flex; 
 }
.grid{
    position: absolute;
    top: 25px;
    left: 26px;
    z-index:1;
}
.row>.cell{
    min-width: 87px;
    border: 1px solid teal;
    text-align: center;
min-height: 25px;
}
/* .col{
    height: 25px;
    border: 1px solid;
    min-width: 49px;
} */
#grid .cell{
    max-width: 50px

}
/* *************sheets area********** */
.sheets{
    height: 20px;
    border: 1px solid darkslategrey;

}
input[type="button"].selected{
background-color: lightslategrey;
}