html,body{
    margin:0px;
    padding: 0px;
    background-color: rgb(29, 28, 28);
    color:red;
    font-family: sans-serif;
}
/* universal selector */
*{
    box-sizing: border-box;
color: white;
}
body{
    height: 100vh;
    width:100vw;
    padding: 0 1rem;
    padding-top: 1rem;
}
.top-bar{
    height: 55px;
    /* border: 1px solid blue; */
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.btn-container{
    width: 11rem;
    /* border: 1px solid; */
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn{
    /* display: block;  */
    border: none;
    background-color: rgb(156, 153, 153);
    height: 80%;
    width: 40%;
    border-radius: 5px;
}
.new{
color: black;
background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.tab-container{
    width: calc(100vw - 14rem);
}
.container{
    height: calc(100vh - (2rem + 55px));
    display: flex;
    justify-content: space-between;
    width:100%;
}
.file-explorer{
    width:25%;
    height: 100%;
    /* border: 1px solid; */
    overflow: auto;
    /* border:1px solid ; */
}
.main-container{
    width:73%;
    height: 100%;
}
::-webkit-scrollbar {
width:3px;
height: 3px;
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    border-radius: 3px;
}

::-webkit-scrollbar-track{
border:1px solid rgb(17, 17, 17);
background-color: rgba(36, 34, 34, 0.562);
}
.main-container{
    display: flex;
    flex-direction: column;
justify-content: space-between;
}
.editor-container{
    height: 68%;
    box-shadow: 0 1rem 2rem #696c6e;
    /* border: 1px solid; */

}
.terminal-container{
    height: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rebeccapurple;
    box-shadow: 0 1rem 2rem rgb(123, 75, 172);
    /* border:1px solid red; */
}
#code-editor{
    height: 100%;
} 
  
.tab{
height: 80%;
min-width:70px;
background-color: rgb(56, 55, 55);
margin-right:4px;
}

.tab-container{
    display: flex;
    align-items: center;
}

.fa-times{
font-size:60%;
}

#terminal{
    height:80%;
    width:95%;
}
.jstree-default .jstree-clicked{
    background: inherit;
}
.jstree-default .jstree-hovered{
    background: inherit;
    
}