.tool-bar{
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.hamburger{
height: 90%;
width:15%;
background-color: yellow;
}
.tool-panel{
height:90%;
width:80%;
background-color: lightcoral;
display: flex;
justify-content: center;
}
.tool{
height: 90%;;
position: relative;
}
.tool-img{
    height: 90%;
}
.tool-options{
    position: absolute;
    top: 75px;
    left: -61px;
    background: yellow;
    height: 6rem;
    width: 9rem;
    
    display: none;
}
.slider{
    height: 38%;
    border: 1px solid;
}
.colors{
    height: 62%;
    background: gainsboro;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.color{
    height: 63%;
    width: 26%;
    border-radius: 50%;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;

}
.green{
    background-color: green;
}
.show{
    display: block;
}
.stickyPad{
    height: 14rem;
    width: 14rem;
    min-width:10rem;
    min-height: 10rem;
    /* different layer */
    /* align itself according to html page origin */
    position: absolute;
    top: 40vh;
    left: 30vw;
    background-color: tan;
    resize:both;
    overflow: auto;
}
.nav-bar{
    
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 11px;
}

.close,.minimize{
    height: 46%;
    width: 10%;
    margin-right: 5px;
    border-radius: 56%;
}
.close{
    background: red;
}
.minimize{
    background: green;
}

.textbox{
    height: 80%;
    width:100%;
}
.textbox textarea{
    height: 100%;
    width: 100%;
}
.upload-img{
    height:100%;
    width:100%
}
